body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #a80d0d;
}

.img-tiger,
.img-lion {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#scroll-activated-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 30px;
    overflow: hidden;
    position: relative;
}
#scroll-image {
    width: 50%;
    height: 100px;
    transition: transform 0.5s ease;
    position: absolute;
    bottom: 20px;  /* Keep the image at the bottom of the container */
}
section {
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgb(137, 70, 70);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}
h2 {
    color: #2c84a7;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1c08b5;
}

/* Add specific styles for your sections, images, buttons, etc., here */